<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.DocumentoMapper">

	<insert id="insertarDocumento">

		INSERT INTO Elemento
		(codigo,nombre,fechaCreacion,fechaUltimaActualizacion,esPublico,tipo,estadoDocumento)
		VALUES(#{documento.codigo},#{documento.nombre},#{documento.fechaCreacion},#{documento.fechaUltimaActualizacion},#{documento.publico},1,#{documento.estado.codigo});

	</insert>

	<update id="actualizarDocumento">
		UPDATE Elemento
		SET nombre = #{documento.nombre},
		fechaCreacion = #{documento.fechaCreacion},
		fechaUltimaActualizacion = #{documento.fechaUltimaActualizacion},
		espublico = #{documento.publico},
		estadoDocumento = #{documento.estado.codigo}
		WHERE codigo = #{documento.codigo};
	</update>

	<delete id="eliminarDocumento">
		DELETE from Elemento where codigo =
		#{documento.codigo};
	</delete>

	<resultMap id="Documento" type="es.fpdual.eadmin.eadmin.modelo.Documento">
		<constructor>
			<idArg column="codigo" javaType="Integer"/>
			<arg column="nombre" javaType="String" />
			<arg column="fechaCreacion" javaType="Date" />
			<arg column="fechaUltimaActualizacion" javaType="Date" />
			<arg column="espublico" javaType="Boolean" />
			<arg column="estadoDocumento" javaType="es.fpdual.eadmin.eadmin.modelo.EstadoDocumento" />
		</constructor>
	</resultMap>
	<select id="mostrarDocumento" resultMap="Documento">
		SELECT codigo,nombre,fechaCreacion,fechaUltimaActualizacion,espublico,estadoDocumento
		from Elemento where codigo = #{codigo};
	</select>
</mapper>